<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{schedule.Title}"></title>
    <object th:replace="fragments/global_includes :: global_includes" th:remove="tag">...</object>
</head>
<body class="body">

<div th:replace="fragments/finance-header-logout :: header_logout">...</div>

<div id="content" role="main">
    <div th:replace="fragments/back-link :: back">...</div>


    <h1 class="heading-xlarge" th:text="#{schedule.Heading}" style="margin-bottom: 0px;">  </h1>
    <h2 class="heading-large" th:text="#{schedule.Heading1}"> </h2>

    <form th:action="@{/scheduleyourpayment}" method="post" class="form demo-validation-input" novalidate="novalidate" th:object="${rft}">

    <div class="grid-row" th:if="${#fields.hasAnyErrors()}">
        <div class="column-two-thirds">
             <div class="validation-summary">
                <p th:text="#{errorSummary1}"></p>
                <p th:text="#{errorSummary2}"></p>
            </div>
        </div>
    </div>

        <div class="form-item-wrapper error-layer" th:classappend="${#fields.hasErrors('transferDate') or #fields.hasErrors('transferDate.date')}? validation-error">

            <div class="inline-form-groups">
                <fieldset>
                    <legend class="form-label-bold" th:text="#{schedule.DateOfTransfer}"></legend>
                    <p class="form-hint" th:text="#{schedule.DateHint}"></p>
                    <p class="validation-message" id="transferDate.error" th:errors="*{transferDate}"></p>
                    <p class="validation-message" id="transferDate.date.error" th:errors="*{transferDate.date}"></p>
                    <div class="form-group">
                        <label class="form-label" for="dob-day" th:text="#{schedule.DateLabel1}"></label>
                        <input class="form-control form-control-2-chars" id="dob-day" type="number" min="0" max="31" th:field="*{transferDate.days}" th:errorclass="error"> </input>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="dob-month" th:text="#{schedule.DateLabel2}"></label>
                        <input class="form-control form-control-2-chars" id="dob-month" type="number" min="0" max="12" th:field="*{transferDate.month}" th:errorclass="error"> </input>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="dob-year" th:text="#{schedule.DateLabel3}"></label>
                        <input class="form-control form-control-4-chars" id="dob-year" type="number" min="0" th:field="*{transferDate.year}" th:errorclass="error"> </input>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="form-item-wrapper error-layer" th:classappend="${#fields.hasErrors('isGp')}? validation-error">

            <div class="form-groups">
                <fieldset>
                    <legend class="form-label-bold label-like" th:text="#{schedule.Contribution}"></legend>
                    <p class="validation-message" id="isGp.error" th:errors="*{isGp}"></p>
                    <div class="inline-form-groups">
                        <div class="form-group">
                            <label class="nhsbsa-radio" for="staff">
                                <input type="radio" id="staff" name="relates"
                                       th:field="${rft.isGp}" value="0"/>
                                <span class="input-text" th:text="#{schedule.ContLabel1}"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="nhsbsa-radio" for="gps">
                                <input type="radio" id="gps" name="relates"
                                       th:field="${rft.isGp}" value="1"/>
                                <span class="input-text" th:text="#{schedule.ContLabel2}"></span>
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>


        </div>

        <div class="form-item-wrapper error-layer" th:classappend="${#fields.hasErrors('contributionDate.contributionMonth') or #fields.hasErrors('contributionDate.contributionYear')}? validation-error">
            <div class="inline-form-groups">
                <fieldset>
                    <p class="validation-message" id="contributionDate.error" th:errors="*{contributionDate}"></p>
                    <p class="validation-message" id="contributionDate.month.error" th:errors="*{contributionDate.contributionMonth}"></p>
                    <p class="validation-message" id="contributionDate.year.error" th:errors="*{contributionDate.contributionYear}"></p>
                    <legend class="form-label-bold" th:text="#{schedule.PaymentMonth}"></legend>
                    <p class="form-hint" th:text="#{schedule.PaymentMonthHint}"></p>
                    <p class="validation-message display-none" th:text="#{schedule.PaymentValidation}"></p>

                    <div class="form-group">
                        <label class="form-label" for="contribution-month" th:text="#{schedule.PaymentLabel1}"></label>
                        <input class="form-control form-control-2-chars" id="contribution-month" type="number" min="0" max="12" th:field="*{contributionDate.contributionMonth}" th:errorclass="error"> </input>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="contribution-year" th:text="#{schedule.PaymentLabel2}"></label>
                        <input class="form-control form-control-4-chars" id="contribution-year" type="number" min="0" th:field="*{contributionDate.contributionYear}" th:errorclass="error"> </input>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="form-item-wrapper">
            <div class="form-group">
                <button type="submit" id="submit" class="button" th:text="#{nextStep}"></button>
            </div>
        </div>

    </form>

    <div class="pagination-simple">
        <div class="back-link">
            <a href="security-information" class="link">
                <span class="prefix" th:text="#{back}"></span>
                <span class="title" th:text="#{security}"></span>
            </a>
        </div>
    </div>

</div>



<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>